doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="keyword", content="")
    if (htmlWebpackPlugin.files.favicon)
      link(rel="shortcut icon", href=htmlWebpackPlugin.files.favicon)
    each css in htmlWebpackPlugin.files.css
      link(rel="stylesheet", type="text/css", href=css)
  body
    #root
    if htmlWebpackPlugin.options.vendor
      script(type="text/javascript", src=htmlWebpackPlugin.options.vendor)
    each js in htmlWebpackPlugin.files.js
      script(type="text/javascript", src=js)
